.navbar1{
  width: 100%;
  text-align:left;
  cursor: pointer;
  margin-left: 50px;

}
.navbar1 li {
float: left;
padding: 12px;
color: #d84e08;
text-decoration: none;
font-size: 20px;
list-style-type: none;
}
.navbar1 i{
  color: yellow;
}


/*}*/
#navbar:hover{
opacity: 0.9;


}

.registar{
  text-align: center;
  margin: 105px auto;


}
.registar1 input {


  border: 2px solid #efc710;
  border-radius: 17%;
  padding: 8px;
  color: red;
  margin-left: 3px;
  margin-bottom: 15px;


}

.dugmad {
  background-color: #0f9611;
  border: none;
  color: white;
  padding: 18px 32px;
  border-radius:17%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;
}
.dugmad:hover{
  box-shadow: 0 7px 15px #6dd117;
}
#btn2 {

  padding: 17px 80px;
  cursor: not-allowed;
}
#dugme{
  color: yellow;
}
#dugme2{
  color: yellow;
}


.registar2{
  text-align: center;
  margin: -90px auto;



}
.registar2 input {


  border: 2px solid #efc710;
  border-radius: 17%;
  padding: 8px;
  color: red;
  margin-left: 3px;
  margin-bottom: 15px;


}

input:focus {
  border: 2px solid #1e5b1d;
  outline: none;
  -webkit-transition: width 2s, height 4s;
}
::placeholder{
  color: red;
}

#inputnovi{
    margin: 120px auto;


}
#idemo {
  border: 2px solid #efc710;
  border-radius: 17%;
  padding: 8px;
  padding-right: 350px;
  color: red;
  margin-left: 3px;
  margin-bottom: 15px;
  width: 25%;
  transition: width 8s ease-out;
}
  #idemo:focus{

  width: 75%;
  transition: width 8s ease-in;

}

#par{
  margin-top:-100px;
  font-size: 30px;
  font-weight:bold;
}
#par:hover{
transform: scale3d(0.5);
font-family: cursive;
}
#par:active{
  width: auto;
}


.textbox{

text-align: center;
}
#muhaa{
  border: 1px solid black;
  resize:none;
  overflow: auto;
  border-radius: 15%;


}
