#head1{

  color: red;
   text-align: center;
    text-decoration: underline;

}


#parag1{

  background:brown ;
   height:120px;
    width:100%;

}


#parag2{

  background:yellow ;
   width: 70em;
     margin-left: auto;
      margin-right: auto;

}


.tab2, .sokith{

  border: 1px solid red;

}


.sokiLink{

  text-shadow: 4px 1px #FF0000;
   text-decoration: none;

}


#soki51{

  margin: 0 0 0px 1100px;

}


#soki60{

   text-indent: 50px;
    text-align: justify;
     letter-spacing: 4px;
      word-spacing: 4px;

}


div.soki65{

  height:80px;
   width:50%;
    border:5px solid red;

}


div.soki67{

  height:80px;
   width:100%;
    overflow:auto;

}


#soki69{

text-align: center;
 color:red;
  text-decoration: underline;

}


.soki63{

  opacity: 0.3;
    transition: 0.3s;

}


.soki63:hover {opacity: 1}


#sokic7 {

    list-style-type: none;
     margin-left: -20px;

}


#soki72{

list-style-type:none;
 margin-left: -20px;

}





.anes-list {

    list-style: none;
    padding-left: 22px;

}


.anes-list li {

    position: relative;
    padding-left: 20px;

}


.anes-list li:before {

    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    background-image: url('../slike/oma1.jpg');
    background-size:cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}
