i{

  color:yellow;

}



.soki2{

  color: brown;
   font-style: normal;
    cursor: grab;
       margin-left: 5px;

    }



.soki2:hover{

  opacity:0.7;
   color:red;


}




#mis1{

   margin-left: 15px;

}


#mis2{

   margin-left: 15px;

}


#mis3{

   margin-left: 15px;

}



.soki9{

  border: 2px solid orange;
   padding: 5px;
    /*border-radius: 20px 30px;*/
      border-radius: 20%;


}


.soki9:focus{
   border-color:green;
   -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }





::placeholder {

  color: red;

}


#soki10{

/*display: inline-block;*/
 /*text-align: center;*/
  /*margin-left: auto;
   margin-right: auto;
  /*  margin-top: 100px;*/
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 40px;
  /*text-align: center;*/
  display: inline-block;

}






#soki31{

  color:yellow;

}



.kes1{

  background-color: #4CAF50;
   border: none;
    color: white;
     padding: 15px 32px;
      text-align: center;
        display: inline-block;
         font-size: 16px;
          margin: 4px 2px;
           cursor: pointer;
             border-radius: 30%;

  display: block;
   text-align: center;
    margin-left: auto;
     margin-right: auto;
      margin-top: 20px;
       width:18%;


}


.kes1:hover{

  box-shadow: 5px 5px 5px grey;

}


#soki51{

  cursor: not-allowed;
  margin-bottom: 30px;

}




  #soki34{

  display: block;
   text-align: center;
    margin-left: auto;
     margin-right: auto;
      margin-top: 40px;

  }




#anes15{

  font-size: 40px;

}


#anes15:hover{

  font-size: 50px;

}


#text{

        resize: horizontal;
       width: 50%;
       -webkit-transition: width 0.8s ease-in-out;
       transition: width 0.8s ease-in-out;
    }


    #text:active {

     -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;

    }


    #text:focus {

      width: 100%;

}


.klix1{

  border: 2px solid blue;
   padding: 20px;
    width: 300px;
     resize:none;
      overflow: auto;
       border-radius: 20%;
        text-align: center;

}


#tv1{

  text-align: center;

}


li{
  float: left;

}
