#head1{

  color: red;
   text-align: center;
    text-decoration: underline;

}


#paragraph1{

  background:brown ;
   height:110px;

}


#paragraph2{

  background:yellow ;
   width: 75em;
     margin-left: auto;
      margin-right: auto;

}


.tabela1, .muha{

  border: 1px solid red;

}
#muhahead1{

  text-align: right;

}

.muhakink1{

  text-shadow: 5px 1px #FF0000;
   text-decoration: none;

}


#muhalo{

  text-indent: 50px;
    text-align: justify;
     letter-spacing: 5px;
     word-spacing: 15px;


}


div.muha51{

  height:80px;
   width:50%;
    border:5px solid red;

}


div.muha53{

  height:80px;
   width:100%;
    overflow:auto;

}

.muha55{

  opacity: 0.4;
    transition: 0.3s;

}


.muha55:hover {opacity: 1}




#muha56{

text-align: center;
 color:red;
  text-decoration: underline;

}



#muhamed58 {

    list-style-type: none;
     margin-left: -20px;

}


#muha66{

list-style-type:none;
 margin-left: -20px;
}

.muha67 li{

  padding-left: 30px;
}

.muha67 li:before {

content: '';
width: 20px;
height: 20px;
background-image: url('../slike/download.png');
position: absolute;
background-size: cover;
background-position: left;
left: 2%;
top:104%;
transform: translate(10%);



}
